//Based on https://iamsteve.me/blog/entry/nice-and-easy-lazy-loading-with-lazysizes-js
.image {
    position: relative;
    padding-bottom: 66.5492958%;

    // Tweak as needed
    background: linear-gradient(rgb(242, 242, 242) 66%, rgba(242, 242, 242, 0));
}

.image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.lazyload,
.lazyloading {
    opacity: 0;
}

.loading,
.lazyload,
.lazyloaded,
.image {
    opacity: 1;
    transition: 2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

//From https://afarkas.github.io/lazysizes/index.html
img[data-sizes="auto"] {
    display: block;
}
